{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% block title%}
News
{% endblock title%}

{% block content%}

<h1> Новости </h1>
<h2> Колличесто новостей: {{newslist|length}}</h2>

{% for news in newslist %}
    <table>
        <tr>
            <td> {{news.head}} </td>
            <td> {{news.date|date:" j b Y "}} </td>
            <td> {{news.text|truncatewords:20}} </td>
        </tr>
    </table>
{% endfor %}

{% if page_obj.has_previous %}
    <a href="?page=1">1</a>
    {% if page_obj.previous_page_number != 1%}
        ...
        <a href="?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a>
    {% endif %}
{% endif %}

{{page_obj.number}}

{% if page_obj.has_next %}
    <a href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a>
    {% if page_obj.next_page_number != paginator.num_pages %}
        ...
        <a href="?page= {{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a>
    {% endif %}
{% endif %}
{% endblock content%}